<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Registration notification email</title>
</head>
<body>

<h2 style="color: #27a9e1;"> Welcome to FastAPI application example for forgot password flow!</h2>



<p style="font-size: 14px;color: #030303;">Your email has been registered successfully and a default password has been assigned to your account.</p>

<p style="font-size: 18px;color: #030303;"><b>Username:</b> {{email|e}}</p>
<p style="font-size: 18px;color: #030303;"><b>Password:</b> {{password|e}}</p>
<br>

<b style="font-size: 18px;color: #ff9999;">Note: This password is a secret and only available to you. You can change this password in the related section of your account information in the application.</b>

<hr style="border: 1px solid #CCCCCC;">

<p style="font-size: 14px;color: #888888;">If you've received this mail in error, it's likely that a user entered your email address by mistake. In that case, just ignore it.</p>

</body>
</html>
