<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Password reset email</title>
</head>
<body>

<h2 style="color: #27a9e1;"> Hi {{user.name.lower()}}!</h2>



<p style="font-size: 14px;color: #030303;">It seems you have forgotten your password and requested a reset.</p>

<p style="font-size: 18px;color: #030303;">Follow this link to reset your password:</p>
<p style="font-size: 18px;color: #030303;"> {{url|e}}</p>
<b style="font-size: 18px;color: #ff9999;">Note: This link will expire in {{expire_in_minutes}} minutes.</b>
<br>

<hr style="border: 1px solid #CCCCCC;">

<p style="font-size: 14px;color: #888888;">If you've received this mail in error, it's likely that a user entered your email address by mistake. In that case, just ignore it.</p>

</body>
</html>
